<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>channels</key>
	<array>
		<string>AdobeMiniBridgeCS5.1-1.1</string>
		<string>HILHelpSearch-1.0</string>
		<string>AdobeXMPPanelsCS5-3.0</string>
		<string>CSTI_CS5.5-2.5</string>
		<string>AdobeInDesignCS5.5ApplicationBaseFiles2-7.5</string>
		<string>AdobeExtensionManagerCS5.5-5.5</string>
		<string>AdobeBuzzwordCS5.5-1.0</string>
		<string>AdobeLinguisticsCS5.5-5.5.0</string>
		<string>AdobeFontsRequired-1.0</string>
		<string>AdobeColorNARecommendedSettingsCS5.5-3.1</string>
		<string>AdobeDynamiclinkSupport-5.5</string>
		<string>AdobeInDesignCS5.5CommonBaseFiles-7.5</string>
		<string>AdobeIllustratorCS5.1-15.1</string>
		<string>AdobeColorEUExtraSettingsCS5.5-3.1</string>
		<string>CSXSStoryExtension-2.5</string>
		<string>AdobePhotoshopCS5.1SwedishLanguagePack-12.1</string>
		<string>CameraProfilesInstaller-6.0</string>
		<string>PhotoshopCameraRaw-6.0</string>
		<string>AdobeColorCommonSetRGB-3.1</string>
		<string>AdobeBridgeCS5.1-4.1</string>
		<string>AdobeToolhintsCS5.5-1.5</string>
		<string>AdobeDigitalPublishingApplicationLanguageFilessv_SE-1.0</string>
		<string>AdobeCSXSInfrastructureCS5.5-2.5</string>
		<string>AdobeReviewPanelCS5.5-3.0.0</string>
		<string>AdobeUtilitiesCS5.5-3.1</string>
		<string>AdobeCMapsCS5-3.0</string>
		<string>AdobeColorCommonSetCMYK-3.1</string>
		<string>DigitalPublishing-1.0</string>
		<string>AdobeColorNAExtraSettingsCS5.5-3.1</string>
		<string>AdobeContentViewer-1.0</string>
		<string>AdobeWinSoftLinguisticsPluginCS5.5-1.2</string>
		<string>AdobeFontsRecommended-1.0</string>
		<string>AdobeExtendScriptToolkitCS5.5-3.6.0</string>
		<string>PDFSettings-10.0</string>
		<string>AdobeColorVideoProfilesCSCS5.5-3.1</string>
		<string>AdobeLinguisticsCS5-5.0.0</string>
		<string>AdobeInDesignCS5.5ApplicationFeatureSetFilesRoman-7.5</string>
		<string>AdobePhotoshopCS5.1Support-12.1</string>
		<string>AdobeColorEURecommendedSettingsCS5.5-3.1</string>
		<string>AdobeInDesignCS5.5-7.5</string>
		<string>PhotoshopCameraRaw-6.0</string>
		<string>PDFSettings-10.0</string>
		<string>AdobeIllustratorCS5.1LangPacksv_SE-15.1</string>
		<string>AdobeColorJAExtraSettingsCS5.5-3.1</string>
		<string>AdobeDeviceCentralCS5.5-3.5</string>
		<string>AdobeSINGCS5-3.0</string>
		<string>AcrobatXPro-10.0</string>
		<string>AdobeInDesignCS5.5CommonLanguageFilessv_SE-7.5</string>
		<string>SiteCatalystNetAverages-2</string>
		<string>AdobeSwitchBoard2.0-2.0</string>
		<string>AdobeMediaEncoderCS5.5-5.5</string>
		<string>AdobeCSXSExtensionsCS5.5-2.5</string>
		<string>CameraProfilesInstaller-6.0</string>
		<string>AdobeAPE3.101_Mac_NoLocale</string>
		<string>AcrobatXPro-10.0</string>
		<string>AdobeColor-PhotoshopSpecificCS5.5-3.1</string>
		<string>AdobeWinSoftLinguisticsPluginCS5-1.2</string>
		<string>AdobeTypeSupportCS5-10.0</string>
		<string>AdobeHunspellLinguisticsPluginCS5.5-1.0</string>
		<string>AdobeXMPPanelsCS5-3.0</string>
		<string>AdobePhotoshopCS5.1-12.1</string>
		<string>AdobeInDesignCS5.5ApplicationLanguageFilessv_SE-7.5</string>
		<string>AdobePDFLibraryFilesCS5-9.9</string>
		<string>AcrobatXPro-10.0</string>
		<string>AdobeColorJARecommendedSettingsCS5.5-3.1</string>
		<string>AdobeOutputModule-3.1</string>
		<string>LangPackSwedishforAdobeDeviceCentralCS5.5-3.5</string>
	</array>
	<key>munki_update_for</key>
	<string>AdobeDesignStandardCS5.5</string>
	<key>munki_repo_destination_path</key>
	<string>apps/Adobe/CS5.5/Updates</string>
</dict>
</plist>
